.btn
{
    margin-top:30px;
    padding:30px;
    text-align:center;
}

.btn1 {
    margin-top:25px;
    padding: 30px;
    text-align: center;
}

.btn2 {
    margin-top: 25px;
    padding: 30px;
    text-align: center;
}